@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #1c1c1c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Neutral Colors */
  --color-black: #1c1c1c;
  --color-gray: #636363;
  --color-white: #ffffff;

  /* Primary & Secondary Colors */
  --color-primary: #5b4432;
  --color-secondary: #c19759;

  /* Background Colors */
  --color-background-1: #f6f3ef;
  --color-background-2: #faf3e8;
  --color-taskbar: #c7bbaf;

  /* Other Colors */
  --color-brown: #d8b4a0;
  --color-beige: #e7d8c9;
  --color-dark-brown: #5B4432;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #1c1c1c;
  }
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-background-1);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

/* Font utility classes for Heading component */
@utility font-playfair {
  font-family: var(--font-playfair), serif;
}

@utility font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

/* Custom Scrollbar Styles */
.overflow-x-auto::-webkit-scrollbar {
  height: 5px;
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 4px;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 4px;
}

.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}
